In [1]:
import pandas as pd

In [2]:
lung_cancer = pd.read_csv('lung_cancer.csv')
air_pollution = pd.read_csv('air_pollution.csv')
economic_level = pd.read_csv('..\\0.Data\\country related data\\world-bank-income-groups.csv')

In [3]:
print(f"lung cancer df shape: {lung_cancer.shape}")
print(f"airpollution df shape: {air_pollution.shape}")
print(f"economic level df shape: {economic_level.shape}")

lung cancer df shape: (3250000, 20)
airpollution df shape: (314, 5)
economic level df shape: (7661, 4)

In [4]:
lung_cancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3250000 entries, 0 to 3249999
Data columns (total 20 columns):
 #   Column                       Dtype
---  ------                       -----
 0   Unnamed: 0                   int64
 1   id                           int64
 2   age                          float64
 3   gender                       object
 4   country                      object
 5   diagnosis_date               object
 6   cancer_stage                 object
 7   beginning_of_treatment_date  object
 8   family_history               object
 9   smoking_status               object
 10  bmi                          float64
 11  cholesterol_level            int64
 12  hypertension                 int64
 13  asthma                       int64
 14  cirrhosis                    int64
 15  other_cancer                 int64
 16  treatment_type               object
 17  end_treatment_date           object
 18  survived                     int64
 19  year                         int64
dtypes: float64(2), int64(9), object(9)
memory usage: 495.9+ MB

In [5]:
air_pollution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   314 non-null    int64
 1   CountryCode  314 non-null    object
 2   year         314 non-null    int64
 3   Max_AQI      314 non-null    float64
 4   Air_Quality  314 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 12.4+ KB

In [6]:
economic_level.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7661 entries, 0 to 7660
Data columns (total 4 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Entity                              7661 non-null   object
 1   Code                                7661 non-null   object
 2   Year                                7661 non-null   int64
 3   World Bank's income classification  7661 non-null   object
dtypes: int64(1), object(3)
memory usage: 239.5+ KB

In [7]:
country_codes = {
    "Latvia": "LV",
    "Malta": "MT",
    "Cyprus": "CY",
    "Denmark": "DK",
    "Greece": "GR",
    "Italy": "IT",
    "Belgium": "BE",
    "Czech Republic": "CZ",
    "Croatia": "HR",
    "Sweden": "SE",
    "Estonia": "EE",
    "Germany": "DE",
    "Finland": "FI",
    "Lithuania": "LT",
    "Spain": "ES",
    "Luxembourg": "LU",
    "Bulgaria": "BG",
    "Poland": "PL",
    "Romania": "RO",
    "Austria": "AT",
    "Slovakia": "SK",
    "Netherlands": "NL",
    "Ireland": "IE",
    "France": "FR",
    "Hungary": "HU",
    "Portugal": "PT",
    "Slovenia": "SI"
}

lung_cancer['CountryCode'] = lung_cancer['country'].map(country_codes)

In [8]:
codes = {
    'LVA': 'LV',
    'MLT': 'MT',
    'CYP': 'CY',
    'DNK': 'DK',
    'GRC': 'GR',
    'ITA': 'IT',
    'BEL': 'BE',
    'CZE': 'CZ',
    'HRV': 'HR',
    'SWE': 'SE',
    'EST': 'EE',
    'DEU': 'DE',
    'FIN': 'FI',
    'LTU': 'LT',
    'ESP': 'ES',
    'LUX': 'LU',
    'BGR': 'BG',
    'POL': 'PL',
    'ROU': 'RO',
    'AUT': 'AT',
    'SVK': 'SK',
    'NLD': 'NL',
    'IRL': 'IE',
    'FRA': 'FR',
    'HUN': 'HU',
    'PRT': 'PT',
    'SVN': 'SI'
}

economic_level['CountryCode'] = economic_level['Code'].map(codes)

In [9]:
economic_level = economic_level[economic_level['Code'].isin(['LVA', 'MLT', 'CYP', 'DNK', 'GRC', 'ITA', 'BEL', 'CZE', 'HRV', 'SWE',
 'EST', 'DEU', 'FIN', 'LTU', 'ESP', 'LUX', 'BGR', 'POL', 'ROU', 'AUT',
 'SVK', 'NLD', 'IRL', 'FRA', 'HUN', 'PRT', 'SVN'])] 
economic_level = economic_level[economic_level['Year']>= 2013]

In [10]:
economic_level

       Entity Code  Year World Bank's income classification CountryCode
422   Austria  AUT  2013              High-income countries          AT
423   Austria  AUT  2014              High-income countries          AT
424   Austria  AUT  2015              High-income countries          AT
425   Austria  AUT  2016              High-income countries          AT
426   Austria  AUT  2017              High-income countries          AT
...       ...  ...   ...                                ...         ...
6678   Sweden  SWE  2019              High-income countries          SE
6679   Sweden  SWE  2020              High-income countries          SE
6680   Sweden  SWE  2021              High-income countries          SE
6681   Sweden  SWE  2022              High-income countries          SE
6682   Sweden  SWE  2023              High-income countries          SE

[297 rows x 5 columns]

In [11]:
merged_df = lung_cancer.merge(air_pollution, left_on=['CountryCode', 'year'], right_on=['CountryCode', 'year'], how='inner')
merged_df = merged_df[merged_df['year']>2019]

In [12]:

final_df = merged_df[['id', 'age', 'gender', 'country', 'year', 'cancer_stage', 'hypertension', 'asthma', 'cirrhosis', 'treatment_type', 'survived', 'Max_AQI', 'Air_Quality', 'CountryCode']]

In [13]:
final_df

,id,age,gender,country,year,cancer_stage,hypertension,asthma,cirrhosis,treatment_type,survived,Max_AQI,Air_Quality,CountryCode
1,2,50.0,Male,Czech Republic,2023,Stage III,1,0,0,Radiation,0,49.750000,Good,CZ
2,3,65.0,Male,Romania,2023,Stage IV,0,0,0,Surgery,0,29.330727,Good,RO
4,5,37.0,Male,Greece,2023,Stage I,0,0,0,Chemotherapy,0,48.333333,Good,GR
5,6,50.0,Male,Finland,2023,Stage II,1,1,0,Radiation,0,47.666667,Good,FI
8,9,64.0,Female,Slovakia,2021,Stage I,1,0,0,Surgery,0,43.488750,Good,SK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3202128,3249989,69.0,Male,Czech Republic,2022,Stage II,1,0,1,Surgery,0,40.000000,Good,CZ
3202130,3249991,48.0,Male,Slovakia,2021,Stage II,1,0,0,Combined,0,43.488750,Good,SK
3202134,3249996,45.0,Male,Poland,2020,Stage IV,1,1,0,Chemotherapy,1,43.069250,Good,PL
3202136,3249998,45.0,Male,Finland,2021,Stage III,1,1,0,Combined,0,18.000000,Good,FI
3202137,3249999,45.0,Male,Hungary,2020,Stage I,1,0,0,Surgery,0,22.500000,Good,HU

In [14]:
final_df = final_df.merge(economic_level, on="CountryCode", how='inner')

In [15]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15629372 entries, 0 to 15629371
Data columns (total 18 columns):
 #   Column                              Dtype
---  ------                              -----
 0   id                                  int64
 1   age                                 float64
 2   gender                              object
 3   country                             object
 4   year                                int64
 5   cancer_stage                        object
 6   hypertension                        int64
 7   asthma                              int64
 8   cirrhosis                           int64
 9   treatment_type                      object
 10  survived                            int64
 11  Max_AQI                             float64
 12  Air_Quality                         object
 13  CountryCode                         object
 14  Entity                              object
 15  Code                                object
 16  Year                                int64
 17  World Bank's income classification  object
dtypes: float64(2), int64(7), object(9)
memory usage: 2.1+ GB